#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig FLASH_MODULE
	bool "Flash module"
	default y

if FLASH_MODULE

config FLASH_THREAD_STACK_SIZE
	int "Flash module thread stack size"
	default 4096 

endif # SENSOR_MODULE


module = FLASH_MODULE
module-str = flash module
source "subsys/logging/Kconfig.template.log_config"
